* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(90, 85, 85, 0.7);
  border-radius: 3px;
  border: 1px solid rgba(207, 63, 63, 0.4);
  color: rgba(207, 63, 63, 0.7);
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: rgba(155, 148, 148, 0.7); }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

a.action {
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  border: 1px solid rgba(207, 63, 63, 0.4);
  color: rgba(207, 63, 63, 0.7);
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 2;
  margin: 0.75em 1em;
  padding: 0.75em 1em;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  a.action:hover, a.action:focus {
    background-color: rgba(155, 148, 148, 0.7); }
  a.action.call-to-action {
    background-color: white;
    border: none;
    color: rgba(64, 60, 60, 0.9); }

fieldset {
  background-color: rgba(90, 85, 85, 0.7);
  border: 1px dotted rgba(251, 251, 251, 0.6);
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #4d4848;
  border: 1px dotted rgba(251, 251, 251, 0.6);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: all 0.3s ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: rgba(226, 226, 226, 0.6); }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    background-color: #5a5555;
    border-color: #CF3F3F;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(196, 49, 49, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-top: 1px solid rgba(251, 251, 251, 0.3);
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  background: #403C3C;
  color: #403C3C;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1 {
  color: rgba(238, 238, 238, 0.7);
  font-size: 2em;
  line-height: 2.4;
  margin: 0.5em 0; }

h2 {
  color: rgba(38, 162, 125, 0.4);
  font-size: 1.75em;
  line-height: 2.1;
  margin: 0.45em 0; }

h3 {
  color: #FBFBFB;
  font-size: 1.5em;
  line-height: 1.8;
  margin: 0.4em 0; }

h4 {
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0.35em 0; }

h5 {
  font-size: 1em;
  line-height: 1.2;
  margin: 0.3em 0; }

h6 {
  color: #CF3F3F;
  font-weight: bolder;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  text-transform: uppercase; }

p {
  margin: 0 0 0.75em; }

a {
  color: #FBFBFB;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #d5d5d5; }
  a:active, a:focus {
    outline: none; }
  a:visited {
    color: #c8c8c8; }

hr {
  border-bottom: 1px dotted rgba(251, 251, 251, 0.6);
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.code {
  font-family: monospace; }

#headline {
  width: 100%;
  background-color: #EEEEEE;
  text-align: center;
  padding: 1em;
  position: relative; }
  #headline .dot-chart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
  #headline .logo {
    background: url(/images/beatmatch.png) no-repeat center;
    background-size: cover;
    height: 237px;
    margin: 0 auto;
    width: 237px; }

.user-panel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 30%;
  -moz-flex: 1 0 30%;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  background-color: #EEEEEE;
  margin: 1em;
  position: relative;
  min-height: 20em; }
  .user-panel h2 {
    border-bottom: 1px solid rgba(38, 162, 125, 0.4);
    cursor: pointer;
    font-weight: lighter;
    line-height: 1em;
    margin: 1em 2em 0.2em;
    text-align: center; }
  .user-panel header {
    background-color: #403C3C;
    min-height: 10em;
    padding: 1em; }
    .user-panel header.base {
      background: linear-gradient(rgba(64, 60, 60, 0.5) 0, rgba(64, 60, 60, 0.5) 100%), url(/images/base.jpg) no-repeat 50% 50%;
      background-size: cover; }
    .user-panel header.other {
      background: linear-gradient(rgba(64, 60, 60, 0.5) 0, rgba(64, 60, 60, 0.5) 100%), url(/images/other.jpg) no-repeat 50% 50%;
      background-size: cover; }
  .user-panel .no-error {
    min-height: 0.1em;
    visibility: 0; }
  .user-panel .prompt, .user-panel .error {
    color: #FBFBFB;
    font-size: 1.25em;
    font-weight: bolder;
    line-height: 3em;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(64, 60, 60, 0.5);
    min-height: 7em; }
  .user-panel .prompt {
    background: rgba(38, 162, 125, 0.4); }
  .user-panel .error {
    background: rgba(207, 63, 63, 0.4); }
  .user-panel .titles {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    align-content: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    text-align: center; }
    .user-panel .titles li {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 0 30%;
      -moz-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
      flex: 1 0 30%;
      background: #FBFBFB;
      box-shadow: 0 1px 2px rgba(64, 60, 60, 0.2);
      color: rgba(64, 60, 60, 0.5);
      cursor: pointer;
      display: inline-block;
      margin: 0.75em;
      padding: 0.75em;
      text-align: center; }
    .user-panel .titles header {
      background: none;
      border-bottom: 1px solid rgba(64, 60, 60, 0.2);
      font-weight: bolder;
      min-height: 8em; }
  .user-panel .thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0px 1px 6px rgba(64, 60, 60, 0.5);
    height: 10em;
    margin: 1em auto;
    padding: 1em;
    width: 10em; }
  .user-panel input {
    border: none;
    background: none;
    color: rgba(238, 238, 238, 0.7);
    cursor: pointer;
    font-size: 2em;
    line-height: 2.4;
    text-align: right;
    text-shadow: 1px 1px 2px rgba(64, 60, 60, 0.5);
    margin: 0 0 auto auto; }
    .user-panel input:focus {
      outline: 0px solid transparent; }

.app-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  margin: 1em;
  position: relative; }

.comparison {
  border-radius: 8em;
  box-shadow: 0 1px 5px rgba(64, 60, 60, 0.4);
  cursor: pointer;
  margin: 0 auto;
  max-width: 8em;
  max-height: 8em;
  padding: 2em;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 6em;
  bottom: 0;
  left: 0;
  right: 0; }
  .comparison.no-match, .comparison.neutral-match {
    background: #e2e2e2; }
  .comparison.good-match {
    background: #26A27D; }
  .comparison.bad-match {
    background: #CF3F3F; }
  .comparison figcaption {
    position: absolute;
    color: #FBFBFB;
    font-size: 3em;
    line-height: 2.5em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(64, 60, 60, 0.5);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

/*# sourceMappingURL=application.css.map */
