#headline
  width: 100%
  background-color: $headline-color
  text-align: center
  padding: $base-font-size

  .logo
    background: url(/images/discogs-logo.png) no-repeat center
    background-size: cover
    height: 237px
    margin: 0 auto
    width: 237px
