// Typography
$base-font-family: 'Open Sans', sans-serif
$heading-font-family: $base-font-family

// Font Sizes
$base-font-size: 1em

// Line height
$base-line-height: 1.5
$heading-line-height: 1.2

// Other Sizes
$base-border-radius: 3px
$base-spacing: $base-line-height * 1em
$small-spacing: $base-spacing / 2
$base-z-index: 0

// Colors
$red: #CF3F3F
$green: #26A27D
$ash: #403C3C
$light-grey: #EEEEEE
$offwhite: #FBFBFB

// Animations
$base-transition: all 0.3s ease

// Font Colors
$base-background-color: $ash
$base-font-color: $ash
$accent-color: $offwhite
$headline-color: $light-grey
$byline-color: $green
$action-color: $red

// Border
$base-border-color: transparentize($accent-color, 0.4)
$base-border: 1px dotted $base-border-color
$heavy-border: 3px dotted $base-border-color

// Forms
$base-form-background: transparentize(lighten($base-background-color, 10%), 0.3)
$form-focus-color: adjust-color($action-color, $lightness: -5%, $alpha: -0.3)
$form-box-shadow: inset 0 1px 3px rgba(black, 0.06)
$form-box-shadow-focus: $form-box-shadow, 0 0 5px $form-focus-color
